/* Resets */
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, iframe, img {
  margin: 0;
  padding: 0;
  border:0;
}
input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}
/* External Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/* Body */
body {
  background: #fff;
  color: #000;
  font-family: "Montserrat";
}
h1 {
  color: #fff;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
}
/* Header */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.logo img {
  max-height: 50px;
}
/* Navigation */
.navigation ul li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}
/* Banner */
.banner {
  background: url(../../WeeblyTricks/images/dog.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align: center;
  height: 400px;
  color: #fff;
}
.banner .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.banner h2 {
  font-size: 48px;
}
.banner p {
  font-size: 26px;
}
/* Main */